<div class="about">
    <h3>About Jeremy</h3>
    <p>
        <img src="/images/JeremyCa.jpg" title="Jeremy Cade" class="right"> Jeremy is a Father of 3, Husband, overly opinionated Software Engineer and Professional Trouble Maker.
    </p>
    <p>Jeremy is currently a Cephalopod at <a href="https://octopus.com" target="_blank" />Octopus Deploy</a>.<br /> You can find him on <a href="https://twitter.com/jcade83" target="_blank">Twitter</a> and <a href="https://github.com/JeremyCade" target="_blank">GitHub</a>.
</div>