<div class="about">
    <h3>About Jeremy</h3>
    <p>
        <img src="/images/JeremyCa.jpg" title="Jeremy Cade" class="right"> Jeremy is a Father of 3, Husband, overly opinionated Software Engineer, DevOps Practitioner, Baseball Coach and Professional Trouble Maker.
    </p>
    <p>Jeremy is currently the Chief Trouble Maker at <a href="https://www.lup.com.au" target="_blank" />Lüp</a> where he oversees engineering.<br /> You can find him on <a href="https://twitter.com/jcade83" target="_blank">Twitter</a> and <a href="https://github.com/JeremyCade"
            target="_blank">GitHub</a>.
</div>